<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>

            <all>
                <active>0</active>
                <title>Online payments powered by PayTabs</title>

                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageAllFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <order_failed_reorder>0</order_failed_reorder>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>

                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>10</sort_order>

                <payment_preorder>0</payment_preorder>

                <payment_link>
                    <pl_allow_interval>3</pl_allow_interval>
                </payment_link>

            </all>


            <creditcard>
                <active>0</active>
                <title>PayTabs - CreditCard</title>

                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageCreditCardFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <order_failed_reorder>0</order_failed_reorder>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <allow_associated_methods>1</allow_associated_methods>

                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>11</sort_order>

                <payment_preorder>0</payment_preorder>

                <payment_link>
                    <pl_allow_interval>3</pl_allow_interval>
                </payment_link>

                <!-- <debugReplaceKeys>MERCHANT_KEY</debugReplaceKeys>
                <paymentInfoKeys>FRAUD_MSG_LIST</paymentInfoKeys>
                <privateInfoKeys>FRAUD_MSG_LIST</privateInfoKeys> -->
            </creditcard>


            <stcpay>
                <active>0</active>
                <title>PayTabs - STCPay</title>

                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageStcPayFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>0</can_refund>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>15</sort_order>
            </stcpay>


            <applepay>
                <active>0</active>
                <title>PayTabs - ApplePay</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageApplePayFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>12</sort_order>
            </applepay>


            <omannet>
                <active>0</active>
                <title>PayTabs - OmanNet</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageOmanNetFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <allow_associated_methods>1</allow_associated_methods>

                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>13</sort_order>
            </omannet>


            <mada>
                <active>0</active>
                <title>PayTabs - mada</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageMadaFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <allow_associated_methods>1</allow_associated_methods>

                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>1</sort_order>
            </mada>


            <sadad>
                <active>0</active>
                <title>PayTabs - Sadad</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageSadadFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>0</can_refund>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>20</sort_order>
            </sadad>


            <fawry>
                <active>0</active>
                <title>PayTabs - @Fawry</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageFawryFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>18</sort_order>
            </fawry>


            <knet>
                <active>0</active>
                <title>PayTabs - KNPay</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageKnPayFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <allow_associated_methods>0</allow_associated_methods>

                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>14</sort_order>
            </knet>


            <knetdebit>
                <active>0</active>
                <title>PayTabs - KNPay (Debit)</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageKnPayDebitFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>15</sort_order>
            </knetdebit>


            <knetcredit>
                <active>0</active>
                <title>PayTabs - KNPay (Credit)</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageKnPayCreditFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>16</sort_order>
            </knetcredit>


            <amex>
                <active>0</active>
                <title>PayTabs - Amex</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageAmexFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <allow_associated_methods>1</allow_associated_methods>

                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>19</sort_order>
            </amex>


            <valu>
                <active>0</active>
                <title>PayTabs - valU</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageValUFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>20</sort_order>

                <payment_preorder>0</payment_preorder>

                <payment_link>
                    <pl_allow_interval>3</pl_allow_interval>
                </payment_link>
            </valu>


            <meeza>
                <active>0</active>
                <title>PayTabs - Meeza</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageMeezaFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <allow_associated_methods>1</allow_associated_methods>

                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>21</sort_order>
            </meeza>


            <meezaqr>
                <active>0</active>
                <title>PayTabs - Meeza QR</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageMeezaqrFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>22</sort_order>
            </meezaqr>


            <unionpay>
                <active>0</active>
                <title>PayTabs - UnionPay</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageUnionpayFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <can_initialize>1</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>25</sort_order>
            </unionpay>


            <paypal>
                <active>0</active>
                <title>PayTabs - PayPal</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPagePayPalFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>19</sort_order>
            </paypal>


            <installment>
                <active>0</active>
                <title>PayTabs - NBE Installment</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageNbeInstallmentFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>EGY</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <allow_associated_methods>0</allow_associated_methods>

                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>0</can_refund>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>20</sort_order>
            </installment>


            <urpay>
                <active>0</active>
                <title>PayTabs - UrPay</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageUrPayFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>SAU</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>22</sort_order>
            </urpay>


            <forsa>
                <active>0</active>
                <title>PayTabs - Forsa</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageForsaFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>EGY</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>0</can_refund>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>24</sort_order>
            </forsa>

            
            <aman>
                <active>0</active>
                <title>PayTabs - Aman</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageAmanFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>EGY</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>0</can_refund>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>24</sort_order>
            </aman>

            <touchpoints>
                <active>0</active>
                <title>PayTabs - Touchpoints</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageTouchpointsFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>0</can_refund>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>24</sort_order>
            </touchpoints>

             <tabby>
                <active>0</active>
                <title>PayTabs - Tabby</title>
                <order_statuses>
                    <order_status>pending_payment</order_status>
                </order_statuses>

                <model>PayPageTabbyFacade</model>

                <hide_shipping>0</hide_shipping>

                <endpoint>ARE</endpoint>
                <payment_action>authorize_capture</payment_action>

                <iframe_mode>0</iframe_mode>

                <currency_select>base_currency</currency_select>

                <can_initialize>1</can_initialize>
                <can_authorize>0</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund>0</can_refund>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>

                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>

                <is_gateway>1</is_gateway>
                <is_offline>0</is_offline>

                <sort_order>24</sort_order>
            </tabby>


            <paytabs_all_vault>
                <title>PayTabs - Tokenization (All)</title>
                <model>PayTabsAllVaultFacade</model>
                <!-- <payment_action>authorize_capture</payment_action> -->

                <can_use_internal>0</can_use_internal>
            </paytabs_all_vault>

        </payment>
    </default>
</config>