<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Payment Method Facade configuration -->

    <virtualType name="PayPageAllFacade" type="PayTabs\PayPage\Model\All">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_ALL</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">PayTabs\PayPage\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolAll</argument>
            <argument name="commandPool" xsi:type="object">PayPageCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageCreditCardFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_CREDITCARD</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolCard</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageStcPayFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_STCPAY</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolStcPay</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageApplePayFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_APPLEPAY</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolApplePay</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageOmanNetFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_OMANNET</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolOmanNet</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageMadaFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_MADA</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolMada</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageSadadFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_SADAD</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolSadad</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageFawryFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_FAWRY</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolFawry</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageKnPayFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_KNPAY</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolKnPay</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageKnPayDebitFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_KNPAY_DEBIT</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolKnPayDebit</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageKnPayCreditFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_KNPAY_CREDIT</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolKnPayCredit</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageAmexFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_AMEX</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolAmex</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageValUFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_VALU</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolValU</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageMeezaFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_MEEZA</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolMeeza</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageMeezaqrFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_MEEZAQR</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolMeezaqr</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageUnionpayFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_UNIONPAY</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolUnionpay</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPagePayPalFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_PAYPAL</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolPayPal</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageNbeInstallmentFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_NBE_INSTALLMENT</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolNbeInstallment</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageUrPayFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_URPAY</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolUrPay</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageForsaFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_FORSA</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolForsa</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageAmanFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_AMAN</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolAman</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageTouchpointsFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_TOUCHPOINTS</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolTouchpoints</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayPageTabbyFacade" type="PayPageAllFacade">
        <arguments>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_TABBY</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayPageValueHandlerPoolTabby</argument>
        </arguments>
    </virtualType>


    <virtualType name="PayTabsAllVaultFacade" type="PayTabs\PayPage\Gateway\PayTabsVault">
        <arguments>
            <argument name="config" xsi:type="object">PayTabsAllVaultPaymentConfig</argument>
            <argument name="code" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_VAULT_ALL</argument>
            <argument name="valueHandlerPool" xsi:type="object">PayTabsVaultValueHandlerPool</argument>
            <argument name="vaultProvider" xsi:type="object">PayPageAllFacade</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayTabsAllVaultPaymentConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_VAULT_ALL</argument>
        </arguments>
    </virtualType>

    <!-- Payment Method Facade configuration -->


    <!-- Configuration reader -->

    <virtualType name="PayPageAllConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_ALL</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageCreditCardConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_CREDITCARD</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageStcPayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_STCPAY</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageApplePayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_APPLEPAY</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageOmanNetConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_OMANNET</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageMadaConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_MADA</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageSadadConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_SADAD</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageFawryConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_FAWRY</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageKnPayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_KNPAY</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageKnPayDebitConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_KNPAY_DEBIT</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageKnPayCreditConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_KNPAY_CREDIT</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageAmexConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_AMEX</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValUConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_VALU</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageMeezaConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_MEEZA</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageMeezaqrConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_MEEZAQR</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageUnionpayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_UNIONPAY</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPagePayPalConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_PAYPAL</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageNbeInstallmentConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_NBE_INSTALLMENT</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageForsaConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_FORSA</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageAmanConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_AMAN</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageTouchpointsConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_TOUCHPOINTS</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageUrPayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_URPAY</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageTabbyConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_TABBY</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayTabsVaultConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\PayTabs\PayPage\Model\Ui\ConfigProvider::CODE_VAULT_ALL</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->


    <!-- Commands infrastructure -->

    <virtualType name="PayPageCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">PayPageInitCommand</item>
                <item name="authorize" xsi:type="string">PayPageAuthorizeCommand</item>
                <item name="capture" xsi:type="string">PayPageCaptureCommand</item>
                <item name="capture_partial" xsi:type="string">PayPageCaptureCommand</item>
                <item name="void" xsi:type="string">PayPageVoidCommand</item>
                <item name="cancel" xsi:type="string">PayPageVoidCommand</item>
                <item name="refund" xsi:type="string">PayPageRefundCommand</item>

                <item name="vault_authorize" xsi:type="string">PayPageVaultAuthorizeCommand</item>
                <!-- <item name="vault_capture" xsi:type="string">PayPageVaultCaptureCommandAll</item> -->
                <item name="vault_sale" xsi:type="string">PayPageVaultCaptureCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Commands infrastructure -->


    <!-- Init command -->

    <virtualType name="PayPageInitCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayTabs\PayPage\Gateway\Request\InitRequest</argument>
            <argument name="transferFactory" xsi:type="object">PayTabs\PayPage\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">PayTabs\PayPage\Gateway\Http\Client\ClientMock</argument>
            <!-- <argument name="validator" xsi:type="object">PayTabs\PayPage\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="handler" xsi:type="object">PayTabs\PayPage\Gateway\Response\TxnIdHandler</argument> -->
        </arguments>
    </virtualType>

    <!-- Init Request -->

    <type name="PayTabs\PayPage\Gateway\Request\InitRequest">
        <arguments>
            <argument name="config" xsi:type="object">PayPageAllConfig</argument>
        </arguments>
    </type>


    <!-- Authorize command -->

    <virtualType name="PayPageAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayPageAuthorizationRequest</argument>
            <argument name="transferFactory" xsi:type="object">PayTabs\PayPage\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">PayTabs\PayPage\Gateway\Http\Client\ClientAuth</argument>
            <argument name="validator" xsi:type="object">PayTabs\PayPage\Gateway\Validator\FollowupValidator</argument>
            <argument name="handler" xsi:type="object">PayPageResponseHandlerComposite</argument>
            <argument name="errorMessageMapper" xsi:type="object">PayTabs\PayPage\Gateway\Validator\ErrorMessageMapper</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageVaultAuthorizeCommand" type="PayPageAuthorizeCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayPageVaultAuthorizationRequest</argument>
            <argument name="client" xsi:type="object">PayTabs\PayPage\Gateway\Vault\Client</argument>
            <argument name="validator" xsi:type="object">PayTabs\PayPage\Gateway\Validator\FollowupValidator</argument>
            <argument name="handler" xsi:type="object">PayTabs\PayPage\Gateway\Response\FollowupHandler</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageVaultCaptureCommand" type="PayPageVaultAuthorizeCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayPageVaultCaptureRequest</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayTabsCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">PayPageCommandPool</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Payment\Gateway\Command\CommandManagerPool">
        <arguments>
            <argument name="executors" xsi:type="array">
                <item name="all" xsi:type="string">PayTabsCommandManager</item>
            </argument>
        </arguments>
    </type>

    <!-- Authorize command -->


    <!-- Authorization Request -->

    <virtualType name="PayPageAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">AuthorizationRequest</item>
                <!-- <item name="vault" xsi:type="string">PayTabs\PayPage\Gateway\Request\VaultDataBuilder</item> -->
                <!-- <item name="mockData" xsi:type="string">PayTabs\PayPage\Gateway\Request\MockDataRequest</item> -->
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageVaultAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">VaultAuthorizationRequest</item>
                <item name="vault_authenticate" xsi:type="string">VaultAuthenticate</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageVaultCaptureRequest" type="PayPageVaultAuthorizationRequest">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">VaultCaptureRequest</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="AuthorizationRequest" type="PayTabs\PayPage\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">PayPageAllConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="VaultAuthorizationRequest" type="PayTabs\PayPage\Gateway\Vault\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">PayTabsVaultConfig</argument>
            <argument name="action" xsi:type="const">\PayTabs\PayPage\Model\Adminhtml\Source\PaymentAction::PAYMENT_ACTION_AUTH</argument>
        </arguments>
    </virtualType>
    <virtualType name="VaultCaptureRequest" type="PayTabs\PayPage\Gateway\Vault\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">PayTabsVaultConfig</argument>
            <argument name="action" xsi:type="const">\PayTabs\PayPage\Model\Adminhtml\Source\PaymentAction::PAYMENT_ACTION_SALE</argument>
        </arguments>
    </virtualType>
    <virtualType name="VaultAuthenticate" type="PayTabs\PayPage\Gateway\Vault\AuthenticateBuilder">
        <arguments>
            <argument name="config" xsi:type="object">PayPageAllConfig</argument>
        </arguments>
    </virtualType>

    <!-- Capture command -->

    <virtualType name="PayPageCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayTabs\PayPage\Gateway\Request\CaptureRequest</argument>
            <argument name="transferFactory" xsi:type="object">PayTabs\PayPage\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">PayTabs\PayPage\Gateway\Http\Client\ClientCapture</argument>
            <argument name="validator" xsi:type="object">PayTabs\PayPage\Gateway\Validator\FollowupValidator</argument>
            <argument name="handler" xsi:type="object">PayTabs\PayPage\Gateway\Response\FollowupHandler</argument>
            <argument name="errorMessageMapper" xsi:type="object">PayTabs\PayPage\Gateway\Validator\ErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->

    <type name="PayTabs\PayPage\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">PayPageAllConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->

    <virtualType name="PayPageVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayTabs\PayPage\Gateway\Request\VoidRequest</argument>
            <argument name="transferFactory" xsi:type="object">PayTabs\PayPage\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">PayTabs\PayPage\Gateway\Http\Client\ClientVoid</argument>
            <argument name="validator" xsi:type="object">PayTabs\PayPage\Gateway\Validator\FollowupValidator</argument>
            <argument name="handler" xsi:type="object">PayTabs\PayPage\Gateway\Response\FollowupHandler</argument>
            <argument name="errorMessageMapper" xsi:type="object">PayTabs\PayPage\Gateway\Validator\ErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <!-- Void Request -->

    <type name="PayTabs\PayPage\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">PayPageAllConfig</argument>
        </arguments>
    </type>


    <!-- Refund command -->

    <virtualType name="PayPageRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PayTabs\PayPage\Gateway\Request\RefundRequest</argument>
            <argument name="transferFactory" xsi:type="object">PayTabs\PayPage\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">PayTabs\PayPage\Gateway\Http\Client\ClientRefund</argument>
            <argument name="validator" xsi:type="object">PayTabs\PayPage\Gateway\Validator\FollowupValidator</argument>
            <argument name="handler" xsi:type="object">PayTabs\PayPage\Gateway\Response\FollowupHandler</argument>
            <argument name="errorMessageMapper" xsi:type="object">PayTabs\PayPage\Gateway\Validator\ErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <type name="PayTabs\PayPage\Gateway\Request\RefundRequest">
        <arguments>
            <argument name="config" xsi:type="object">PayPageAllConfig</argument>
        </arguments>
    </type>

    <!-- Refund command -->


    <!-- Response handlers -->

    <virtualType name="PayPageResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">PayTabs\PayPage\Gateway\Response\TxnIdHandler</item>
                <item name="followup" xsi:type="string">PayTabs\PayPage\Gateway\Response\FollowupHandler</item>
                <!-- <item name="fraud" xsi:type="string">PayTabs\PayPage\Gateway\Response\FraudHandler</item> -->
            </argument>
        </arguments>
    </virtualType>

    <!-- Response handlers -->


    <!-- Value handlers infrastructure -->

    <virtualType name="PayPageValueHandlerPoolAll" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerAll</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolCard" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerCard</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolStcPay" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerStcPay</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolApplePay" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerApplePay</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolOmanNet" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerOmanNet</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolMada" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerMada</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolSadad" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerSadad</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolFawry" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerFawry</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolKnPay" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerKnPay</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolKnPayDebit" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerKnPayDebit</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolKnPayCredit" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerKnPayCredit</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolAmex" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerAmex</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolValU" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerValU</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolMeeza" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerMeeza</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolMeezaqr" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerMeezaqr</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolUnionpay" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerUnionpay</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolPayPal" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerPayPal</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolNbeInstallment" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerNbeInstallment</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolForsa" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerForsa</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolAman" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerAman</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolTouchpoints" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerTouchpoints</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolUrPay" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerUrPay</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageValueHandlerPoolTabby" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayPageConfigValueHandlerTabby</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PayTabsVaultValueHandlerPool" type="VaultPaymentValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PayTabsConfigValueHandlerVault</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->

    <virtualType name="PayPageConfigValueHandlerAll" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageAllConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerCard" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageCreditCardConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerStcPay" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageStcPayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerApplePay" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageApplePayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerOmanNet" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageOmanNetConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerMada" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageMadaConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerSadad" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageSadadConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerFawry" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageFawryConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerKnPay" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageKnPayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerKnPayDebit" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageKnPayDebitConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerKnPayCredit" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageKnPayCreditConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerAmex" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageAmexConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerValU" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageValUConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerMeeza" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageMeezaConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerMeezaqr" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageMeezaqrConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerUnionpay" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageUnionpayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerPayPal" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPagePayPalConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerNbeInstallment" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageNbeInstallmentConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerForsa" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageForsaConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerAman" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageAmanConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerTouchpoints" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageTouchpointsConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerUrPay" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageUrPayConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PayPageConfigValueHandlerTabby" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayPageTabbyConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="PayTabsConfigValueHandlerVault" type="VaultPaymentDefaultValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PayTabsVaultConfig</argument>
        </arguments>
    </virtualType>


    <type name="PayTabs\PayPage\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">PayPageAllConfig</argument>
        </arguments>
    </type>


    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="MyOrderPlaceAfterPlugin" type="PayTabs\PayPage\Plugin\OrderServicePlugin" sortOrder="99" />
    </type>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="paytabs_csrf_validator_skip" type="PayTabs\PayPage\Plugin\CsrfValidatorSkip" />
    </type>

    <type name="Magento\Framework\Session\SessionStartChecker">
        <plugin name="paytabs_transparent_session_checker" type="PayTabs\PayPage\Plugin\TransparentSessionChecker" />
    </type>

    <!-- Logger, initialized with PayPageAllConfig -->

    <virtualType name="PayPageLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">PayPageAllConfig</argument>
        </arguments>
    </virtualType>

    <type name="PayTabs\PayPage\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">PayPageLogger</argument>
        </arguments>
    </type>

    <!-- Logger -->

</config>