<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">

            <group id="paytabs" translate="label" type="text" sortOrder="20">
                <field id="pt_version" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Version</label>
                    <frontend_model>PayTabs\PayPage\Model\Adminhtml\Source\ModuleVersion</frontend_model>
                </field>

                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>

                <field id="endpoint" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Select Endpoint region</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\Endpoints</source_model>
                </field>

                <!-- PT -->
                <field id="profile_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Profile ID</label>
                    <validate>validate-digits</validate>
                </field>
                <field id="server_key" translate="label" type="password" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Server Key</label>
                    <validate>no-whitespace</validate>
                </field>

                <field id="currency_select" translate="label" type="select" sortOrder="28" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Currency</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\CurrencySelect</source_model>
                </field>

                <field id="ipn_allow" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow IPN notifications</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ipn_url" translate="label" type="text" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>IPN URL</label>
                    <frontend_model>PayTabs\PayPage\Model\Adminhtml\Source\IpnUrl</frontend_model>
                    <depends>
                        <!-- This field will only be visible if the field with the id ipn_allow is set to value 1 -->
                        <field id="ipn_allow">1</field>
                    </depends>
                </field>

                <field id="email_config" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Order confirmation email</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\EmailConfig</source_model>
                </field>
                <!-- <field id="send_invoice" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Send Invoice</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field> -->

                <group id="order_statuses" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Status</label>
                    <comment>It is always recommend to keep the default values unless it is necessary</comment>
                    <depends>
                        <field id="payment_preorder">0</field>
                    </depends>

                    <field id="order_status" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>New Order Status</label>
                        <source_model>PayTabs\PayPage\Model\Config\Source\Order\Status\Pending</source_model>
                        <validate>validate-select</validate>
                    </field>
                    <field id="order_success_status" translate="label" type="select" sortOrder="32" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Successful payment order status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    </field>
                    <field id="order_failed_status" translate="label" type="select" sortOrder="34" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Failed to pay order status</label>
                        <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    </field>

                    <field id="order_failed_reorder" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Re-Fill the Cart if Payment failed</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>

                <group id="payment_link" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment links (Beta)</label>
                    <comment>Provide a new way to share the payment link with your Customers to pay for their Orders later</comment>
                    <depends>
                        <field id="payment_preorder">0</field>
                    </depends>

                    <field id="pl_enabled" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Generate and Show a new Payment link</label>
                        <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    </field>

                    <field id="pl_flagged_order_only" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Allow re-pay on flagged Orders only</label>
                        <comment>Allow customers to re-pay orders that are only associated with a generated payment link</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="pl_enabled">1</field>
                        </depends>
                    </field>

                    <field id="pl_customer_view" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Show the payment link to the Customer</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="pl_enabled">1</field>
                        </depends>
                    </field>

                    <field id="pl_allow_on_cancelled" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Allow re-pay on Cancelled Orders</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="pl_enabled">1</field>
                        </depends>
                    </field>

                    <field id="pl_allow_interval" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                        <label>Allowed interval (in days)</label>
                        <comment>Created Orders since more than (this option) days, can not be re-paied</comment>
                        <validate>integer not-negative-amount</validate>
                        <depends>
                            <field id="pl_enabled">1</field>
                        </depends>
                    </field>
                </group>

                <!-- PT -->
                <field id="hide_shipping" translate="label" type="select" sortOrder="81" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Hide Shipping info</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>

            <group id="paytabs_iframe" translate="label" type="text" sortOrder="25" extends="paytabs">
                <field id="iframe_mode" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>iFrame mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="payment_preorder">0</field>
                    </depends>
                </field>
            </group>


            <group id="all" translate="label" extends="paytabs_iframe" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - All</label>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentAction</source_model>
                </field>

                <field id="paytabs_all_vault_active" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Tokenization</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/paytabs_all_vault/active</config_path>
                </field>

                <field id="payment_preorder" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Collect payment before placing the Order (Beta)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>


            <group id="creditcard" translate="label" extends="paytabs_iframe" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - CreditCard</label>

                <field id="allow_associated_methods" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allow associated methods</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentAction</source_model>
                </field>

                <field id="payment_preorder" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Collect payment before placing the Order (Beta)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>


            <group id="stcpay" translate="label" extends="paytabs_iframe" sortOrder="105" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - STCPay</label>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentAction</source_model>
                </field>
            </group>


            <group id="applepay" translate="label" extends="paytabs" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - ApplePay</label>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentAction</source_model>
                </field>
            </group>


            <group id="omannet" translate="label" extends="paytabs_iframe" sortOrder="115" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - OmanNet</label>

                <field id="allow_associated_methods" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allow associated methods</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentActionSale</source_model>
                </field>
            </group>


            <group id="mada" translate="label" extends="paytabs_iframe" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - mada</label>

                <field id="allow_associated_methods" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allow associated methods</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentAction</source_model>
                </field>
            </group>


            <group id="sadad" translate="label" extends="paytabs_iframe" sortOrder="125" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - Sadad</label>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentActionSale</source_model>
                </field>
            </group>


            <group id="fawry" translate="label" extends="paytabs_iframe" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - @Fawry</label>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentActionSale</source_model>
                </field>
            </group>


            <group id="knet" translate="label" extends="paytabs" sortOrder="135" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - KNPay</label>

                <field id="allow_associated_methods" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allow associated methods</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentActionSale</source_model>
                </field>
            </group>


            <group id="knetdebit" translate="label" extends="knet" sortOrder="135" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - KNPay (Debit)</label>
            </group>


            <group id="knetcredit" translate="label" extends="knet" sortOrder="135" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - KNPay (Credit)</label>
            </group>


            <group id="amex" translate="label" extends="paytabs_iframe" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - Amex</label>

                <field id="allow_associated_methods" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allow associated methods</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentAction</source_model>
                </field>
            </group>


            <group id="valu" translate="label" extends="paytabs_iframe" sortOrder="145" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - valU</label>

                <!-- <field id="valu_product_id" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>valU product ID</label>
                </field> -->

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentActionSale</source_model>
                </field>

                <field id="payment_preorder" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Collect the payment before placing the Order (Beta)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="exclude_shipping" translate="label" type="select" sortOrder="135" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Exclude Shipping amount</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>


            <group id="meeza" translate="label" extends="paytabs_iframe" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - Meeza</label>

                <field id="allow_associated_methods" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allow associated methods</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentAction</source_model>
                </field>
            </group>


            <group id="meezaqr" translate="label" extends="paytabs_iframe" sortOrder="155" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - Meeza QR</label>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentActionSale</source_model>
                </field>
            </group>


            <group id="unionpay" translate="label" extends="paytabs" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - UnionPay</label>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentAction</source_model>
                </field>
            </group>


            <group id="paypal" translate="label" extends="paytabs" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - PayPal</label>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentActionSale</source_model>
                </field>
            </group>


            <group id="installment" translate="label" extends="paytabs_iframe" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - NBE Installment</label>

                <field id="allow_associated_methods" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allow associated methods</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentActionSale</source_model>
                </field>
            </group>


            <group id="urpay" translate="label" extends="paytabs_iframe" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - UrPay</label>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentActionSale</source_model>
                </field>
            </group>

            <group id="forsa" translate="label" extends="paytabs_iframe" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - Forsa</label>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentActionSale</source_model>
                </field>
            </group>

            <group id="aman" translate="label" extends="paytabs_iframe" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - Aman</label>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentActionSale</source_model>
                </field>
            </group>
            
            <group id="touchpoints" translate="label" extends="paytabs_iframe" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - Touchpoints</label>

                <field id="allow_associated_methods" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Allow associated methods</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentActionSale</source_model>
                </field>
            </group>

            <group id="tabby" translate="label" extends="paytabs" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayTabs - Tabby</label>

                <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment Action</label>
                    <source_model>PayTabs\PayPage\Model\Adminhtml\Source\PaymentActionSale</source_model>
                </field>
            </group>

        </section>
    </system>
</config>