<?xml version="1.0" ?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <creditcard>
                <active>0</active>
                <title>PayTabs - CreditCard</title>
                <order_status>pending_payment</order_status>
                <payment_action>true</payment_action>
                <model>PayPageCreditCardFacade</model>
                <group>offline</group>
                <payment_action>authorize</payment_action>
                <!-- <merchant_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" /> -->
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <!-- <debugReplaceKeys>MERCHANT_KEY</debugReplaceKeys>
                <paymentInfoKeys>FRAUD_MSG_LIST</paymentInfoKeys>
                <privateInfoKeys>FRAUD_MSG_LIST</privateInfoKeys> -->
            </creditcard>

            <stcpay>
                <active>0</active>
                <title>PayTabs - STCPay</title>
                <order_status>pending_payment</order_status>
                <payment_action>true</payment_action>
                <model>PayPageStcPayFacade</model>
                <group>offline</group>
                <payment_action>authorize</payment_action>
                <!-- <merchant_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" /> -->
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
            </stcpay>

            <applepay>
                <active>0</active>
                <title>PayTabs - ApplePay</title>
                <order_status>pending_payment</order_status>
                <payment_action>true</payment_action>
                <model>PayPageApplePayFacade</model>
                <group>offline</group>
                <payment_action>authorize</payment_action>
                <!-- <merchant_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" /> -->
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
            </applepay>

            <omannet>
                <active>0</active>
                <title>PayTabs - OmanNet</title>
                <order_status>pending_payment</order_status>
                <payment_action>true</payment_action>
                <model>PayPageOmanNetFacade</model>
                <group>offline</group>
                <payment_action>authorize</payment_action>
                <!-- <merchant_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" /> -->
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
            </omannet>

            <mada>
                <active>0</active>
                <title>PayTabs - Mada</title>
                <order_status>pending_payment</order_status>
                <payment_action>true</payment_action>
                <model>PayPageMadaFacade</model>
                <group>offline</group>
                <payment_action>authorize</payment_action>
                <!-- <merchant_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" /> -->
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
            </mada>

            <sadad>
                <active>0</active>
                <title>PayTabs - Sadad</title>
                <order_status>pending_payment</order_status>
                <payment_action>true</payment_action>
                <model>PayPageSadadFacade</model>
                <group>offline</group>
                <payment_action>authorize</payment_action>
                <!-- <merchant_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" /> -->
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
            </sadad>

            <atfawry>
                <active>0</active>
                <title>PayTabs - @Fawry</title>
                <order_status>pending_payment</order_status>
                <payment_action>true</payment_action>
                <model>PayPageAtFawryFacade</model>
                <group>offline</group>
                <payment_action>authorize</payment_action>
                <!-- <merchant_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" /> -->
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
            </atfawry>

            <knpay>
                <active>0</active>
                <title>PayTabs - KNPay</title>
                <order_status>pending_payment</order_status>
                <payment_action>true</payment_action>
                <model>PayPageKnPayFacade</model>
                <group>offline</group>
                <payment_action>authorize</payment_action>
                <!-- <merchant_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" /> -->
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
            </knpay>

            <amex>
                <active>0</active>
                <title>PayTabs - Amex</title>
                <order_status>pending_payment</order_status>
                <payment_action>true</payment_action>
                <model>PayPageAmexFacade</model>
                <group>offline</group>
                <payment_action>authorize</payment_action>
                <!-- <merchant_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted" /> -->
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
            </amex>

        </payment>
    </default>
</config>